body{
    background-color: #BEF7E4;
}
.navbar{
    border-bottom: 2px solid #11CD86 ;
}
.navbar-light .navbar-brand{
    color: #F4F4F4;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s;
}
.navbar-light .navbar-nav .nav-link{
    color: #F4F4F4;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover{
    transition: 0.4s;
    color: #FF5A09;
}
.form-inline .form-control{
    width: 200px;
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: 0.4s;
}
.form-inline .form-control::-webkit-input-placeholder{
    color: #fff;
}
.form-inline .form-control:focus{
    transition: 0.4s;
    width: 280px;
}
.form-inline .form-control::selection{
    color: #FF5A09;
}

.social-enter{
    text-align: center;
}
.social-enter i{
    width: 40px;
    height: 40px;
    padding-top: 12px;
    color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 40px;
    transition: 0.4s;
}
.social-enter:hover i{
    background-color: #17a2b8;
    color: #F4F4F4;
    transition: 0.4s;
}

#search{
    position: relative;
}
#search>label{
    padding-left: 5px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 16px;
}
.list-group-item-info{
    width: 200px;
    margin-left: 120px;
    padding-left: 20px;
    background-color: #17a2b8;
    color: #fff;
    transition: 0.2s;
}
a.list-group-link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.2s;
}
a.list-group-link:hover{
    padding-left: 15px;
    color: #FF5A09;
    transition: 0.2s;
}

a.nav-link>i{
    font-size: 22px;
    color: #17a2b8;
    transition: 0.1s;
}

a.nav-link>i:hover{
    color: #FF5A09;
    transition: 0.1s;
}
.card{
    margin: 10px 0;
    transition: 0.4s;
}
.card-img-top{
    height: 33%;
}
a{
    color: #17a2b8;
}
.card:hover{
    -webkit-box-shadow: 2px 2px 34px 1px rgba(0,0,0,0.65);
    -moz-box-shadow: 2px 2px 34px 1px rgba(0,0,0,0.65);
    box-shadow: 2px 2px 34px 1px rgba(0,0,0,0.65);
    transition: 0.3s;
}
.admin-create{
    border-radius: 5px;
    margin-top: 10px;
    background-color: #FF5A09;
}
.admin-create .form-group>label{
    font-weight: 500;
    color: #fff;
}
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
.footer{
    margin-top: 350px;
    background-color: #17a2b8;
    color: #fff;
    border-top: 3px solid #11CD86;
}
i.fa.fa-github{
    font-size: 30px;
    color: #35CE8D;
    transition: 0.2s;
}
i.fa.fa-github:hover{
    transition: 0.2s;
    color: #FF5A09;
}
.delivery-info{
    border-radius: 5px;
    background-color: #58B4AB ;
}
.btn-outline-light{
    transition: 0.5s;
}
.btn-outline-light:hover{
    background-color: #11CD86;
    transition: 0.5s;
}



