body{
    background-color: #D0DFE6;
}

a{
    color: #AEB8C3!important;
    transition: 0.3s;
}
a:hover, a:active{
    color: #0B9BA9!important;
    transition: 0.3s;
}
.pageCounter{
    background-color: #B50B1E;
}

.divProduct{
    width: 200px;
    height: 280px;
    padding: 20px;
    margin: 15px;
    background-color: floralwhite;
    color: #0D1130;
    border: solid 1px #2E7866;
}

article{

    margin-top: 15px;
    height: 400px;
    background-color: #0B9BA9;

}

aside{

}

.middle{
    width: 30px;
}

.mainContainer{
    max-width: 970px;
}

.divProductDetails{
    width: 700px;
    height: 400px;
    padding: 20px;
    margin: 15px;
    background-color: floralwhite;
    color: #0D1130;
    border: solid 1px #2E7866;
}

.navbar-inverse{
    background-color: #263149;
}

.navbar-brand {
     font-size: 40px;
 }

 ul.nav{
    font-size: 18px;
}
