body{
    background-color: beige;
}

a{
    color: #AEB8C3!important;
    transition: 0.3s;
}
a:hover, a:active{
    color: #0B9BA9!important;
    transition: 0.3s;
}
.pageCounter{
    background-color: #B50B1E;
}

.divProduct{
    width: 200px;
    height: 280px;
    padding: 20px;
    margin: 15px;
    background-color: floralwhite;
    color: #0D1130;
    border: solid 1px #2E7866;
}

article{

    margin-top: 15px;
    height: 400px;
    background-color: #0B9BA9;

}

aside{

}

.middle{
    width: 30px;
}

.mainContainer{
    max-width: 970px;
}

.divProductDetails{
    width: 700px;
    height: 400px;
    padding: 20px;
    margin: 15px;
    background-color: floralwhite;
    color: #0D1130;
    border: solid 1px #2E7866;
}

.navbar-inverse{
    background-color: #263149;
}

.navbar-brand {
     font-size: 40px;
 }

 ul.nav{
    font-size: 18px;
}

.customer-info-container {
    text-align: left;
    border: 1px solid black;
    padding: 0px 5px;
    width: 500px;
}
.page-title  {
    font-size:120%;
    text-align: left;
    margin:10px 0px;
}
.total {
    color: black;
    font-weight: bold;
    font-size: 120%;
}
.orderDetail{
    width: 250px;
    height: 150px;
    padding: 20px;
    margin: 15px;
    background-color: floralwhite;
    color: #0D1130;
    border: solid 1px #2E7866;
}
.orderInfo {
    text-align: left;
    border: 1px solid black;
    padding: 0px 5px;
    width: 900px;
}